.pa {
    margin-top: 20px;
}
 ul {
     width: 100%;
     display: flex;
     flex-wrap: wrap;
 }
.pa > ul > li {
    width: 47%;
    background-color: #fff;
}
.pa > ul > li:nth-child(2n) {
   margin-left: 6px; 
}
.pa > ul > li > img  {
    width: 100%;
}

.pa > ul > li > p {
    height: 33px;
    line-height: 33px;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.shopPrice {
    display: flex;
    justify-content: space-between;
    align-items: center;
}