.cart {
  background-color: #fff;
}
.radio {
  width: 20%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
}

.img {
  width: 40%;
  height: 100px;
  float: left;
}
.img > img {
  width: 100%;
  height: 100%;
}
.Stepper {
  width: 40%;
  height: 100px;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}

body .am-radio {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  border: 1px solid #000;
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.allSe {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  bottom: 0;
  height: 30px;
  background-color: #fff;
}
